@font-face {
  font-family: goldman;
  src: url(fonts/Goldman-Bold.ttf);
}
body {
  margin: 0;
  font-family: goldman  ;
}

code {
  font-family: goldman;
}
*{ 
  transition: all ease 0.3s;
}
@media screen and (max-width:768px) {
    .disN {
    display: none !important;
  }
}
